body {
    background-color: #ffffff;
    background-image: url();
}

#header img{
    width: 100%;
}


.mark {
    font-size: 2em;
    font-family: 'font45542', serif;
    color: #333;
    text-decoration: none;
    
}

.img-grid img{
    width:100%;
    height:auto;
}

.img-grid{
    margin: 0;
    line-height: 0;
}

.img-grid a{
    filter: grayscale(1);
}
.img-grid a:hover{
    filter: none;
    -webkit-transition: filter 300ms ease-in-out;
    -moz-transition: filter 300ms ease-in-out;
    transition: filter 300ms ease-in-out;
}
.one-half.column.img-grid {
    width: 50%;
}

.button-side{
    height: 100%;
    background-color: #eee;
    border: none;
    width: 5%;
    margin: 0 auto;
    opacity: 0.8;
}
.button-side:hover{
    background-color: #ccc;
}

.button-left{
    position: fixed;
    left: 0;   
}

.button-right{
    position: fixed;
    right: 0;
}

.portfolio-images .button{
    margin-left: 15%;
    margin-top: 65%;
    position: absolute;
    color: #fff;
}

.box{
    background-color: #eee;
    padding: 25px;
    min-height: 200px;
}

h1{
    font-family: 'font45542', serif;
}

h2, h3{
    font-family: 'font79299', 'Open Sans','Arial', sans-serif;
}

h3{
    font-size: 1.7em;
}
.social ul li{
    list-style: none;
    display: inline;
    float: left;
    padding: 0 20px;
}
.social ul li a{
    display: block;
    color: #999;
}
.social ul li a:hover{
    color: #0fa0ce;
}


.circles{
    list-style: none;
    position: absolute;
    right: 0;
    margin-top: -35px;
}

.circles li{
    float:left;
    padding: 5px;
}

.circles li a{
    display: block;
}
.circles .fa-circle-o {
    color: #ddd;
}
.circles .fa-circle-o:hover{
    color: #0fa0ce;
}

.portfolio-images img{
    margin-top:-7px;
    width:100%;
}
.top-btn a{
    display: block;
    position: absolute;
    right: 0;
    margin-top:-100px;
    margin-right:10%;
    padding: 10px;
    background-color: #fff;
    border-radius: 25px;
    width: 25px;
    text-align: center;
}
.top-btn a:hover{
    background-color: #ddd;
}
/*=======CONTACT==========*/
table{
    width: 100%;
    max-width: 800px;
}
table input{
    
}
table input, textarea{
    width: 100%;
}
table textarea{
    height: 200px;
}
table input.submit{
    width: 100px;
    float: right;
}
table tr td label{
    text-align: right;
    vertical-align: text-top;
}

/*======END CONTACT=========*/

/*=====ADDITIONAL MEDIA QUERIES=======*/
@media (max-width: 550px) {
    .one-half.column.img-grid{
        width: 100%;
    }
    .button-side {
        width: 25px;
        padding: 0;
    }
}