/*========= Fonts ========= */
@font-face {
  font-family: 'Larish Neue';
  src: url('../fonts/larishneue-webfont.eot') format('embedded-opentype'); /* IE9 Compat Modes */
  src: url('../fonts/larishneue-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
   url('../fonts/larishneue-webfont.woff') format('woff'), /* Modern Browsers */
   url('../fonts/larishneue-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
   url('../fonts/larishneue-webfont.svg#larishneue') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'hk_groteskregular';
  src: url('../fonts/hkgrotesk-regular-webfont.woff2') format('woff2'),
       url('../fonts/hkgrotesk-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/*========= General CSS =========*/

/* Body Text and Headings */
body {
  font-family: 'hk_groteskregular', sans-serif;
}

strong {
  text-decoration: underline;
}

p, ul, ol {
  font-size: 1.5em;
  margin-top: 0;
}

ul, ol {
  margin-left: -10px;
}

h1 {
  font-family: 'Larish Neue', serif;
  font-size: 6em;
  color: #000;
  letter-spacing: .02em;
}

h2 {
  font-family: 'Larish Neue', serif;
  font-size: 4em;
  line-height: 1em;
  margin-bottom: 20px;
}

h3 {
  font-family: 'Larish Neue', serif;
  font-size: 3em;
  margin-top: 0;
}

h4 {
  font-family: 'Larish Neue', serif;
  font-size: 2em;
  margin: 0;
  line-height: 1em;
}

h5 {
  font-family: 'Larish Neue', serif;
  font-size: 2em;
}

.title-padding {margin: 10% 0 20px 0;}

@media screen and (max-width: 600px) {
  p, ul, ol {font-size: 1.2em;}
  
  h1 {font-size: 4em;}
  
  h2 {font-size: 3em;}
  
  h3 {
    font-size: 2em;
    line-height: 1.2em;
  }
}

/* Background Colors */

.pink-bg {background-color: #f5c7f7;}

.light-bg {background-color: #fefafa;}


/* Links and Buttons */
*:focus {
  outline: solid 2px #ad19b3;
}
*:active {
  outline: none;
}

a {
  color: #503bff;
  text-decoration: underline;
  text-decoration-style: dotted;
}

a:hover {
  color: #3829b2;
  text-decoration-style: solid;
  cursor: pointer;
}




button {width: 100%;}

.button {
  color: #fff;
  border-width: 1px;
  border-style: solid;
  font-family: 'hk_groteskregular', 'helvetica', sans-serif;
  text-align: center;
  font-size: 2em;
  line-height: 2.5em;
  transition: .3s;
  display:inline-block;
  width:100%;
  height:100%;
  text-decoration: none !important;
}

.button:hover {
  -webkit-box-shadow: 8px 8px #000;
     -moz-box-shadow: 8px 8px #000;
          box-shadow: 8px 8px #000;
  transform: translate(-10px, -10px); 
  color: #fff;
}

.button-alt {
  border-color: #503bff;
  color: #503bff;
}
.button-alt:hover {
  background-color: #fbe8e7;
  border-color: #3829b2;
  color: #3829b2;
}

.button-inverse {border-color: #fbe8e7;}
.button-inverse a {
  color: #fbe8e7;
}

.button-inverse a:hover {
  color: #503bff;
}
.button-primary {
  background-color: #503bff;
  border-color: #000;
}
.button-primary a {color: #fbe8e7;}
.button-primary:hover {background-color: #7262ff;}

@media screen and (max-width: 600px) {
  .button {
    font-size: 2em;
    line-height: 1.7em;
  }
}

/* Containers */
.container {
  min-height: 500px;
  padding: 5px 10% 10% 10%;
}
.container-wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.section {
  margin-left: auto;
  margin-right: auto;
  padding: 5% 0;
  
}

.section img {width: 100%;}



.section-exwide {
  margin: 0;
  width: 100%;
  padding: 0;
}

.section-wide img, .section-exwide img {
  width: 100%;
  padding: 0;
}

.section h1, .section h2, .section h3 {text-align: center;}

#campaign-page h3 {
  margin-bottom: 0;
}

.section .grid-2 h3, .section .grid-2 h2 {
  text-align: left;
  margin-top: 0;
}

.block .block-work h1{
  text-align: left;
  margin: 0 !important;
}

@media screen and (max-width: 600px) {
  .container{
    padding: 20px;
    min-height: inherit;
  }
}

/* Top Navigation */
nav {
  border-bottom: 1px solid #000;
  background-color: #503bff;
  font-size: 1.5em;
  text-align: center;
}

nav a {
  color: #fffeec;
  text-decoration: none;
  padding-right: 5%;
  transition: .2s ease-in-out;
}

nav a:hover {
  text-shadow: 3px 3px #000;
  transform: translate(-10px, -10px);
  color: #fff;
}

@media screen and (max-width: 600px) {
  nav .item {
    padding: 3px;
  } 
  nav .name a {
    font-style: oblique;
  }
}

/*========= Landing Word Change Animation =========*/
.word {
  background-color: #000 !important;
  padding: 5px;
  color: #fffeec;
}

.top-text {
  text-align: center;
  cursor: default;
}

.block {
  background-color: #fffeec;
  padding: 2% 5% 5% 5%;
  border: solid 1px #000;
  max-width: 900px;
  margin: 0 auto;
}

@media screen and (max-width: 600px) {
  .top-text{
    font-size: 13vw;
  } 
  
  .block {
    margin-top: 50px;
    padding: 5%;
  }
}
/*========= Grid =========*/

.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(50px, auto);
  grid-gap: 20px;
}

.div1 {
  grid-column: 1/3;
}

.div2 {
  grid-column: 3/5;
}


@media screen and (max-width: 800px) {
   .wrapper {
    grid-template-columns: auto;
  }
  .div1, .div2 {
      grid-column: auto;
  }
}



/* old grid */

.grid {
  -webkit-column-count: 1;
          column-count: 1;
  -webkit-column-gap: 1;
          column-gap: 1;
  counter-reset: item-counter;
}

.grid img {
  width: 100%;
}

#work video, #work img{
  border: solid 1px #000;
}

.grid .item-work img {
  border: none;
}

@media screen and (min-width: 400px) {
  .grid {
    -webkit-column-count: 1;
            column-count: 1;
  }
  
}
@media screen and (min-width: 600px) {
  .grid {
    -webkit-column-count: 2;
            column-count: 2;
  }
  
}
@media screen and (min-width: 800px) {
  .grid {
    -webkit-column-count: 3;
            column-count: 3;
  }
    .grid-2{
        -webkit-column-count: 1;
            column-count: 1;
      
    }
 
}
@media screen and (min-width: 1100px) {
  .grid {
    -webkit-column-count: 3;
            column-count: 3;
  }
    
    .grid-2{
        -webkit-column-count: 2;
            column-count: 2;
      -webkit-column-gap: 0;
          column-gap: 0;
    }
}

/* Portfolio Grid Images */

.item {
  box-sizing: border-box;
  -webkit-column-break-inside: avoid;
        break-inside: avoid;
  padding: 10px;
  counter-increment: item-counter;
}
.item-work {padding: 0;}

.item__content a {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-bottom: 40px;
  font-size: 40px;
  color: #fff;
  box-sizing: border-box;
  -webkit-transition: .3s;
          transition: .3s;
}
.item__stagger {margin-top: 20%;}

.item__content a:hover {
  -webkit-box-shadow: 8px 8px #000;
     -moz-box-shadow: 8px 8px #000;
          box-shadow: 8px 8px #000;
  transform: translate(-10px, -10px); 
}

.item__content a .info {
  position: absolute;
  bottom: 1px;
  left: 0;
  margin-left: -1px;
  width: 100%;
  font-size: .5em;
  line-height: 2em;
  text-align: center;
  border: 1px solid #000;
  border-top: none;
  background-color: #000;
  -webkit-transition: .3s opacity ease-in-out;
	        transition: .3s opacity ease-in-out;
}

.item__content a:before { 
  content: ""; 
  opacity: 0;
  -webkit-transition: .3s opacity ease-in-out;
	        transition: .3s opacity ease-in-out;
}

.item__content a:hover:before {
  content: "Check it out ⇨";
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  font-size: .5em;
  line-height: 2em;
  text-align: center;
  border-bottom: 1px solid #000;
  background-color: #503bff;
  opacity: 1;
}
.paused img {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
          filter: grayscale(100%);
}
.paused a:hover:before {
  content: "Still working... patience is a virtue";
  background-color: gray;
}

@media screen and (max-width: 600px) {
  .item__stagger {margin: 0;}
}

/* Modal Box */

.modal .button, .modal .button .button-download{
  height: 100%;
  font-size: 1em;
  margin-top: 30px;
}

.modal .button .base-icon{
  width: 25px;
  display: block;
  float: right;
  padding: 10px;
  border: 0 !important;
}


.modal {
  font-size: .75em;
  width: 200px;
  padding: 10px;
  position: absolute;
  color: #000;
  cursor: grab;
  box-shadow: 8px 8px #000;
}

#modal {
  background-color: #f5c7f7;
  float: left;
  left: 20px;
}

#modal2 {
  background-color: #503BFF;
  float: right;
  right: 20px;
  color: #fff;
}

#modal2 .close {
  color: #fff;
}

#modal3 {
  background-color: #f5c7f7;
  float: left;
  left: 20px;
}

#modal4 {
  background-color: #fff68f;
  right: 100px;
  width: 100px;
  top: 200px;
}

#modal4 img {
  border: 1px solid #000;
}

.modal:active {cursor: grabbing;}

.modal .close, .close1, .close2, .close3, .close4, .pop-up .close {
  font-size: 2em;
  float: right;
  text-decoration: none;
  display:inline-block;
  cursor: pointer;
}

.pop-up {
  display: none;
  width: 100%;
  max-width: 600px;
  padding: 25px;
  opacity: 0;
  background-color: #fff;
  margin-top: -400px;
  z-index: 9999;
  position: absolute;
  border: 1px solid #000;
  margin-left: 10%;
  margin-bottom: 50px;
  box-shadow: 15px 15px #000;
  overflow-y:scroll !important;
}

@media screen and (max-width: 600px) {
  .modal {
    position: relative;
    margin: 20px;
  }
  
  #modal4 {
    top: 0;
    right: inherit;
  }
  
  .pop-up {
    margin: 0;
    width: 80%;
    padding: 10px;
  }
  
  #modal3 {float: none;}
}


.pop-up h4:first-child {
  padding-bottom: 20px;
}

.modalSlide {
  width: 80%;
   max-width: 800px;
  height: 500px;
  display: none;
  padding: 20px;
  opacity: 0;
  background-color: #fff;
  margin-top: -400px;
  z-index: 9999;
  position: absolute;
  border: 1px solid #000;
  margin-bottom: 50px;
  box-shadow: 15px 15px #000;
  overflow-y: scroll;
}
.modalSlide .slideshow .slideshow-item label {
  position: relative;
  z-index: 9999;
  width: auto !important;
}

.modalSlide .slideshow {
  width: 100%;
}
.modalSlide .slideshow .item-nav {
  width: 100%;
  position: absolute;
  top: 25px;
}
.modalSlide .slideshow-item {
  width: 100%;
}

.modalSlide input[type="radio"] {
  margin-top: 0 !important;
  margin-left: auto;
  margin-right: auto;
}

.modalSlide label {
  height: 100%;

}


.modalSlide .slideshow .slideshow-item label.next {
  position: absolute;
  right: 0;
  left: auto;
}
.modalSlide .slideshow .slideshow-item label.previous {
  position: absolute;
  right: auto;
  left: 0;
}



.modalSlide .slideshow .slideshow-item label:after {
bottom: inherit;
  margin: 0;
}






#modalSlide:hover {cursor: grab;}
#modalSlide:active {cursor: grabbing;}

.modalSlide p {margin: 10px 0;}

/*Slideshow styles */

.slideshow {
	top: 0;
  position: relative;
  width: 300px;
	height: 300px;
	text-align: center;
	padding-bottom: 60px;
}

.slideshow-bg {
  background-color: #fff;
  color: #000;
  text-align: left;
  width: 100%;
  -webkit-box-shadow: 8px 8px #000;
     -moz-box-shadow: 8px 8px #000;
          box-shadow: 8px 8px #000;
  padding: 0 10px 10px 10px;
  margin-left: -10px;
}

.triangle {
  width: 0;
  height: 0;
  display: block;
  border-style: solid;
  border-width: 0 16px 16px 16px;
  border-color: transparent transparent #fff;
  margin-top: -15px;
  position:absolute;
  left: 45%;
}

.slideshow input[type="radio"] {
	font-size: 1em;
  margin: 0 5px;
	width: 1.2em;
	height: 1.2em;
  margin-top: 310px;
	display: inline-block;
	position: relative;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: #ccc;
	border-radius: 0;
	transition: .3s ease-out background, .3s ease-out transform;
}

.slideshow input[type="radio"]:checked {
	background: #000;
	outline: none;
	-webkit-transform: scale(1.3);
	   -moz-transform: scale(1.3);
	        transform: scale(1.3);
}

.slideshow p {padding-top: 10px;}

.slideshow .slideshow-item {

	line-height: 1.5;
	position: absolute;
	opacity: 0;
	transition: .3s ease-out opacity;
}

#modalPic2 .slideshow .slideshow-item {
  top: 0;
	width: 300px;
	height: 300px;
}

.slideshow .slideshow-item label {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 50%;
  height: 100%;
	display: none;
	cursor: pointer;
  z-index: 1;
	color: transparent;
	-webkit-touch-callout: none;
	  -webkit-user-select: none;
	   -khtml-user-select: none;
	     -moz-user-select: none;
	      -ms-user-select: none;
	          user-select: none;
}

.slideshow .slideshow-item label:after {
	display: block;
	content: '\0276f';
	font-size: 2.5em;
	color: #503bff;
	position: absolute;
	bottom: -50px;
	right: 10px;
	margin-top: -.5em;
}

.modalSlide .slideshow .slideshow-item label.previous:hover, .modalSlide .slideshow .slideshow-item label.next:hover {
  color: #ccc;;
}

.slideshow .slideshow-item label.previous {
	left: 0;
	display: block;
}

.slideshow .slideshow-item label.previous:after {
	right: auto;
	left: 10px;
  -webkit-transform: scaleX(-1);
	   -moz-transform: scaleX(-1);
	        transform: scaleX(-1);	
}

.slideshow .slideshow-item label.next {
	left: 50%;
	display: block;
}

.slideshow input[type="radio"]:checked + .slideshow-item {opacity: 1;}

.slideshow input[type="radio"]:hover {cursor: pointer; background: #aaa;}

@media screen and (max-width: 600px) {
  .slideshow-item {width: 100%;}
  
  
  .modalSlide {
    width: 90%;
    padding: 0;
  }
  
  .modalHeader {padding: 10px;}
  .modalSlide .slideshow {
    width: 100% !important;
  }
  
  .modalSlide .slideshow input[type="radio"] {
    left: auto;
    right: auto;
  }
  
  .slideshow {width: 50% !important;}
  
  .slideshow input[type="radio"] {
    margin: 0 auto;
    left: 50%;
    right: 50%;
  }
}


.modalPic, .modalPic2, .modalPic3 {
  display: block;
  font-size: .75em;
  width: 300px;
  padding: 10px;
  position: absolute;
  color: #000;
  cursor: grab;
  z-index: 1;
}

#modalPic {
  background-color: #fff;
  right: 5%;
  box-shadow: 8px 8px #000;
}

#modalPic2 {
  background-color: #f900fb;
  right: 25%;
  box-shadow: 8px 8px #000;
}
#modalPic3 {
  background-color: #fff;
  right: 5%;
  width: 400px;
  margin-top: 200px;
  box-shadow: 8px 8px #000;
}
.modalPic-alt {
  background-color: #fff68f !important;
  margin-top: -100px;
  right: 10% !important;
}

#modalPic2 p, #modalPic p {
  margin-top: 20px;
}
.modalPic:active, .modalPic2:active, .modalPic3:active {cursor: grabbing;}

#popUp:hover {cursor: grab;}
#popUp:active {cursor: grabbing;}

.buried-text {
  font-size: .7em; 
  width: 60%; 
  float: right; 
  transform: rotate(45deg); 
  margin-top: 200px;
}

@media screen and (max-width: 600px) {
    
  .modalPic, .modalPic2, .modalPic3 {position: relative;}
  
  #modalPic {
    width: 80%;
    left: 15px;
  }
  
  #modalPic img, #modalPic3 img {width: 100%;}
  #modalPic2{
    left: 0;
    margin-top: -200px;
  }
  
  #modalPic3 {
    margin-top: 0;
    width: 80%;
  }
  
  .buried-text {display: none;}
  
  .contact {margin-top: 200px;}
}

.active {
  display: block;
  opacity: 1;
}

.not-active {display: none;}

/* Form */
form {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.5em;
  z-index: 99999;
}

.form-group {
  padding: 0 5% 0 2%;
}

.form-control {
  display: block;
  width: 100%;
  padding: 5px;
  margin-bottom: 15px;
  line-height: 2em;
  border-width: 1px;
  color: #000 !important;
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}


.form-control::-moz-placeholder {
  color: #aaa;
  opacity: .5;
}

.form-control:-ms-input-placeholder {
  color: #aaa;
  opacity: .5;
}

.form-control::-webkit-input-placeholder {
  color: #aaa;
  opacity: .5;
}

.form-control::-ms-expand {
  background-color: transparent;
  border: 0;
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  background-color: #eee;
  opacity: 1;
}

.form-control[disabled],
fieldset[disabled] .form-control {
  cursor: not-allowed;
}

.form-control:active, .form-control:focus, form input:focus{
  outline: none !important;
  border: 1px solid #f5c7f7;
  box-shadow: 8px 8px #000;
}

.form-inline {  
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

form textarea {
  margin-top: 5px;
  border-width: 1px;
}

#submit {
  width: 103%;
  font-size: 1.5em !important;
  color: #fbe8e7; 
}

@media screen and (max-width: 600px) {
  .form {font-size: 1.2em;}
}


/* Form Validation Styles
------------------------------------------------- */
::-webkit-validation-bubble-message {
  border: solid 1px #f5c7f7;
}

form label + form input:required:valid, form textarea:required:valid + label, form input:required:valid, form textarea:required:valid{    
  border-color: #503bff;
  color: #503bff;
}

form input:invalid, form textarea:invalid, form textarea:invalid + label, form input:invalid + label, form textarea:invalid #submit{ 
  border-color: #000;
  color: #000;
}

.error-message{
  color: red;
  background-color: #f5c7f7;
  padding: 5px;
  font-size: .75em;
  margin-top: -15px;
  max-width: 300px;
}

@media screen and (max-width: 600px) {
  .error-message{
    width: 100%;
  }
}

/*tooltip to copy email*/

.tooltip2 {
  position: relative;
  display: inline-block;
}

.tooltip2 .tooltiptext2 {
  visibility: hidden;
  background-color: #fffeec;
  color: #000;
  text-align: center;
  font-size: .75em;
  padding: 10px;
  position: absolute;
  z-index: 1;
  top: -80%;
  left: 50%;
  width: 150px;
  margin-left: 10px;
  border: 1px solid #000;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip2:hover .tooltiptext2 {
    visibility: visible;
    opacity: 1;
}

#success .tooltip2 {color: green !important;}

/* Work Page Styles */

#myVideo {
  position: relative;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
}

.gif-img {
  border: 0;
  background-color: #fff;
  width: 100%;
  padding: 0;
  margin-bottom: 10px;
}

.phone-gif {
  position: absolute;
  margin-top: 10%;
  right: 5%;
  min-width: 200px;
  max-width: 300px;
}

.work-landing-img {
  width: 85%;
  margin: 0 auto; 
  display: block;
  padding: 50px 0;
}

@media screen and (max-width: 600px) {
  .phone-gif {
    position: relative;
    width: 80%;
    right: inherit;
    margin-left: 25px;
  }
}

.circle {
  width: 200px;
  height: 200px;
  -webkit-border-radius: 100%;
     -moz-border-radius: 100%;
          border-radius: 100%;  
  margin: 20px;
  transition: 0.3s;
  opacity: .8;
  text-align: center;
}

.circle:hover {
  box-shadow: 8px 8px #000;
  opacity: 1;
  cursor: pointer;
}

.circle-text {
  text-align: center;
  font-size: 2em;
  font-family: 'Larish Neue', serif;
  opacity: 0;
  width: 100%;
  height: 100%;
  padding-top: 30%;
  transition: ease-in-out 0.3s;
}

.circle-text:hover {opacity: 1;}

.circle1{ background-color: #794dff;}
.circle2{ background-color: #a3c639;}
.circle3{ background-color: #f93;}
.circle4{ background-color: #FDEFE8;}
.circle5{ background-color: #F8C7AD;}
.circle6{ background-color: #4da6ff;}

.square {
  height: 200px;
  transition: ease-in-out 0.3s;
}

.square:hover {
  box-shadow: 8px 8px #000;
  opacity: 1;
  cursor: pointer;
}

.square-text {
  text-align: center;
  font-size: 2em;
  font-family: 'Larish Neue', serif;
  opacity: 0;
  width: 100%;
  height: 100% !important;
  transition: ease-in-out 0.3s;
  padding-top: 15%;
}

.square-text:hover { opacity: 1;}

.pmedgray {background-color: #768692;}
.porange {background-color: #ff8f1c;}
.pdarkgray {background-color: #333f48;}
.plightblue {background-color: #5bc2e7;}
.plightgray {background-color: #dde5ed;}
.pgreen {background-color: #78be20;}

.button-work {
  text-transform: uppercase;
  margin-top: 5%;
  font-size: 1.5em;
  text-decoration: none;
  transition: ease-in-out .3s;
  position: fixed;
}

.button-left:hover {transform: rotate(-90deg) translateY(-5px);}
.button-right:hover {transform: rotate(90deg) translateY(-5px);}
.button-left {
  left: 0;
  transform: rotate(-90deg);
}

.button-right {
  right: 0;
  transform: rotate(90deg);
}

@media screen and (max-width: 600px) {
  .button-work {
    font-size: 1.2em;
    top: 100px;
    position: absolute;
  }
  .button-left {left: -20px;}
  .button-right {right: -20px;}
}

.typeface-oxygen, .typeface-oxygen h1, .typeface-oxygen h2, .typeface-oxygen h3 {
  font-family: 'Oxygen', sans-serif !important;
  letter-spacing: 0.8px;
}

.typeface-oxygen h1 {
  font-size: 80px;
  margin-bottom: 0;
}

.typeface-oxygen h1, .typeface-oxygen h2, .typeface-oxygen h3 {
  font-weight: 700;
  color: #4da6ff;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 0;
}

.typeface-oxygen h2 {
  font-size: 44px;
  margin-top: 0;
}

.typeface-oxygen h3 {
  font-size: 32px;
}

.typeface-oxygen p {
  font-size: 16px;
  line-height: 28.8px;
  color: #191919;
}

@media screen and (max-width: 600px) {
  .microaire-typeface svg {width: 100%;}
  
  
}

.numbers {
  text-align: center;
  font-size: 10em;
  font-family: 'Larish Neue', serif;
}

.numbers-item {
  text-align: center;
  color: #503bff;
}

#myVideo {width: 100%;}

.overlay-header {position: absolute; margin: 0 10%}

@media screen and (max-width: 600px) {
  .overlay-header {position: relative;}
}

.grid-2 .img-2 img {
  border: none !important;
  margin-bottom: 20px;
}

.img-border {border: solid 1px #000;}
.img-fill {width: 100%;}

#tds-gradient {
  background-color: #0622d6;
  background-image: linear-gradient(90deg, #fff7eb, #fac0e1, #caa5f1, #00c6e5, #0622d6);
}

/* Footer Styles */
.footer {
  bottom: 0;
  text-align: center;
  background-color: #f5c7f7;
  margin-bottom: 0;
  padding-top: 40px;
  padding-bottom: 40px; 
}